@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

header {
  text-align: center; 
}

.logo {
  margin: 2vh;
  margin-top: 60px;
  display:inline-block;
  height:50px;
  width: auto;
  text-align: center;
  object-fit: contain;
}

body {
  max-width: 1300px;
  margin: auto;
  background-color: #515eead8;
}

nav {
  display:inline-flex;
  justify-content:flex-start;
  margin-top: 40px;
  align-items:center;
  font-family: 'Press Start 2P';
  font-size: 1rem;
  line-height: 2;
  text-transform: uppercase;
}
.first{
  display: flex;
  margin-top: -15vh;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

}

.first img {
  height: 400px;
  width: auto;
  object-fit: contain;
}

/* Here is the  nav bar */
nav a {
  color: #fff090;
}

li {
  list-style-type: none;
  color: #ffffff;
}

.arrow i {
  display: none;
}

.arrow {
  position:relative;
	display: block;
  color: #F6EB14;
}

.arrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.168);
  color: #ffffffc3;
}

.arrow:hover i { 
  display: block;
  position: absolute;
  top: 0.50em; 
  left: -3em;
  color:#ffffff
}

/* Leavy plant :) */
.value {
  display: flex;
  margin-top: -25vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

#plant {
  height: 400px;
  width: auto;
  object-fit: contain;
}

.moisture{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#droplet{
  object-fit: contain;
  height:50px;
  width: auto;
}
.caption{
  align-self: center;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-size: large;
  font-style: normal;
}

/* notifications */
.new_notifier{
  display: flex;
  width: 600px;
  height: auto;
  color: #000000ab;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  margin-top: -20vh;
  flex-direction: column;
  gap: 25px;
  /* border: solid 3px rgb(0, 0, 0); */
}

.subtext{
  margin-top: -10px;
}

.table{
  width: 100%;
}

.table td{
  vertical-align: middle;
}

.table .column1{
  width: 10%;
}

.table .column2{
  width: 30%;
}

.table .column3{
  width: 40%;
}

.table .column4{
  width: 20%;
}


.mb-3 {
  display:flex;
  align-items: last baseline;
  margin-top: -20px;
  justify-content: center;
  gap: 20px;
}

/* info */
.helpbox{
  display: flex;
  width: 600px;
  height: auto;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: -20vh;
  flex-direction: column;
  gap: 10px;
}

.info_header{
  align-self: flex-start;
  font-family: 'Press Start 2P';
  font-size: 1.5rem;

}

/* graph */
.chartcard{
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartBox {
  width: 600px;
  /* margin-top: -25vh; */
  padding: 20px;
  border-radius: 20px;
  /* border: solid 3px rgb(0, 0, 0); */
  background: white;
}

.tableBox {
  width: 500px;
  /* margin-top: -25vh; */
  padding: 20px;
  border-radius: 20px;
  /* border: solid 3px rgb(0, 0, 0); */
  background: white
}