@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

header {
  text-align: center; 
}

.logo {
  margin: 20px;
  display:inline-block;
  height:50px;
  width: auto;
  text-align: center;
  object-fit: contain;
}

body {
  max-width: 900px;
  margin: auto;
  background-color: #489EFA;
}

nav {
  display:inline-flex;
  justify-content:flex-start;
  margin: 40px;
  align-items:center;
  font-family: 'Press Start 2P';
  font-size: 1rem;
  line-height: 2;
  background-color: #489EFA;
  text-transform: uppercase;
}
.first{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

}

.first img {
  height: 100px;
  width: auto;
  object-fit: contain;
}

/* Here is the  nav bar */
nav a {
  text-decoration: none;
  color: #fff090;
}

li {
  color: #ffffff;
}

.arrow i {
  display: none;
}

.arrow {
  position:relative;
	display: block;
  color: #F6EB14;
}

.arrow:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}

.arrow:hover i { 
  display: block;
  position: absolute;
  top: 0.50em; 
  left: -6em;
}

.value {
  display: flex;
  margin-top: -30vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

#plant {
  height: 400px;
  width: auto;
  object-fit: contain;
}

.moisture{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#droplet{
  object-fit: contain;
  height:50px;
  width: auto;
}
.caption{
  align-self: center;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-size: large;
  font-style: normal;
}

/* notifications */
.new_notifier{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.table{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* graph */
.graph{
  background-color: #ffffff;

}