{% extends "layout.html" %}

{% block body %}
<div class  = "helpbox">
    <h3 class = "info_header">Contact me</h3>
    <span>
       To find more about my projects visit my Github-page or in the future my  website which will be linked here. Thank you for checking out my application! It was a fun, intense, and most of all, a very educational experience.
    </span>
    <a href="https://github.com/YungDurum">
        <img src="static/github-mark.png" alt="github-logo" class="logo">
    </a>
</div>
{% endblock %}