{% extends "layout.html" %}

{% block body %}
            <div class = "first">
                    <form action="/new" method="post">
                            <div class="mb-3">
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Name your plant" type="text">
                                <button class="btn btn-primary" type="submit">Seed your plant</button>
                            </div>
                    </form>
                <img src="/static/empty_pot.png" alt="Logo" >
            </div>
{% endblock %}

            