{% extends "layout.html" %}
{% block body %}
<div class="graph">
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
    const data1 = JSON.parse({{ data | tojson | safe }})
    console.log(typeof(data1))
    const labels = data1.map(item => item.Timestamp);
    const moisture = data1.map(item => item.saturation);
    
    // data block
    const data = {
      labels: labels,
      datasets: [{
        label: 'Percentage',
        data: moisture,
        borderWidth: 1,
        pointRadius: 0
      }]
    }
    
    // config block
    const config = {
      type: 'line',
      data: data, 
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };
    
    // render block
    new Chart(ctx, config);
  </script>
    {% endblock %}
            