{% extends "layout.html" %}

{% block body %}
    <div class="value">
        <img id="plant" src="{{ picture }}" alt="Logo" class="logo">
        <span>{{ nameplant }}</span>
        <div class="moisture">
            <img id="droplet" src="/static/waterdroplet.png" alt="Logo">
            <span class="caption">{{ plant_moist }}%</span>
        </div>
    </div>
    <script>
        const plant = document.querySelector("#plant");
        original = plant.src

        plant.addEventListener("mouseover", function() {
            plant.src = "static/kissie.png";
    });
        plant.addEventListener("mouseout", function() {
            plant.src = "{{ picture }}";
    });
    </script>
{% endblock %}
