{% extends "layout.html" %}

{% block body %}
<div class  = "helpbox">
    <span>
       For my end project of CS50's Introduction in Computerscience course I created this app called: Plant Invaders. The idea of the project was to create a virtual interpretation of a plant and bring it to live in the virtual world. 
    </span>
       
    <span>
        The app is designed as a tool to maintain the watering levels of the soil of your favourite plant, by using a capacitive soilmoisture sensor and a Raspberry Pi. People connected to the local network will be able to view the local plant by going to its address, and from there they can see the current waterlevel in the soil. Every ten minutes the current waterlevel will be saved. One of the features of the app is to be able to view the historical data of the soil at the stats-page. Another feature, is for people who wish to be notified whenever the plant is thirsy. You can sign-up with your email and name. In case the plants have been watered you also get an email, so you will not get stressed out.
    </span>

</div>
{% endblock %}