{% extends "layout.html" %}
{% block body %}

<div class = "new_notifier">
    
    <h3 class = "info_header">Add to the list</h3>
    <span class = "subtext">
        Get notified when your favourite plant is thirsty. The more the merrier.
    </span>
    <form action="/notifications" method="post">
            <div class="mb-3">
                <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Name" type="text">
                </div>
                <div class="form-group">
                <label></label>
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="Mail-adress" placeholder="Mailaddress" type="text">
                </div>
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
    </form>
{% if mail_data%}
<div class = "tableBox">
    <table class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col"> Name</th>
            <th scope="col"> Mailaddress</th>
            <th scope="col"></th>
        </tr>
        {% for row in mail_data %} 
        <tr>
            <td class="column1">{{ loop.index}}</td>
            <td class="column2">{{ row["name"] }}</td>
            <td class="column3">{{ row["mail"] }}</td>
            <td class="column4"><form action="/delete" method="post" ><button class="btn btn-primary" name = "delete" type="submit" value = {{ row["id"] }}>Delete</button></form></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
</div>
{% endblock %}